In [1]:
import pandas as pd

# Pandas Revisited

Building upon what you learned in the prework, this notebook will help you refresh on:
- loading data with pandas
- exploring data (`.mean()`, `.value_counts()`)
- filtering data with masks
- handling missing values (`.dropna()`, `.fillna()`)
- applying functions to data (`.apply()` and `.map()`)
- grouping and aggregating data

## Loading Data

Let's take a look at some data and see how pandas can help us navigate.  

This dataset about cereal lives on [Kaggle](https://www.kaggle.com/crawford/80-cereals) and originally comes from [these project datasets](https://perso.telecom-paristech.fr/eagan/class/igr204/datasets).

In [2]:
df = pd.read_csv('https://bit.ly/2JRmGC2')

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 77 entries, 0 to 76
Data columns (total 16 columns):
name        77 non-null object
mfr         77 non-null object
type        77 non-null object
calories    77 non-null int64
protein     77 non-null int64
fat         77 non-null int64
sodium      77 non-null int64
fiber       77 non-null float64
carbo       77 non-null float64
sugars      77 non-null int64
potass      77 non-null int64
vitamins    77 non-null int64
shelf       77 non-null int64
weight      77 non-null float64
cups        77 non-null float64
rating      77 non-null float64
dtypes: float64(5), int64(8), object(3)
memory usage: 9.7+ KB

In [4]:
df.head()

,name,mfr,type,calories,protein,fat,sodium,fiber,carbo,sugars,potass,vitamins,shelf,weight,cups,rating
0,100% Bran,N,C,70,4,1,130,10.0,5.0,6,280,25,3,1.0,0.33,68.402973
1,100% Natural Bran,Q,C,120,3,5,15,2.0,8.0,8,135,0,3,1.0,1.00,33.983679
2,All-Bran,K,C,70,4,1,260,9.0,7.0,5,320,25,3,1.0,0.33,59.425505
3,All-Bran with Extra Fiber,K,C,50,4,0,140,14.0,8.0,0,330,25,3,1.0,0.50,93.704912
4,Almond Delight,R,C,110,2,2,200,1.0,14.0,8,-1,25,3,1.0,0.75,34.384843

From `.info()` it looks like we don't have an null values in this dataset.  But checkout the final row for Almond Delight.  It looks like the authors of this dataset have used -1 to signify missing values.  We could convert this now, or we could use arguments of `.read_csv()` to help us out.  Let's also set the cereal name to be the index of our dataframe.

In [5]:
df = pd.read_csv('https://bit.ly/2JRmGC2', 
                 na_values = -1,
                 index_col = 0
                )

In [6]:
df.head()

,mfr,type,calories,protein,fat,sodium,fiber,carbo,sugars,potass,vitamins,shelf,weight,cups,rating
name,,,,,,,,,,,,,,,
100% Bran,N,C,70,4,1,130,10.0,5.0,6.0,280.0,25,3,1.0,0.33,68.402973
100% Natural Bran,Q,C,120,3,5,15,2.0,8.0,8.0,135.0,0,3,1.0,1.00,33.983679
All-Bran,K,C,70,4,1,260,9.0,7.0,5.0,320.0,25,3,1.0,0.33,59.425505
All-Bran with Extra Fiber,K,C,50,4,0,140,14.0,8.0,0.0,330.0,25,3,1.0,0.50,93.704912
Almond Delight,R,C,110,2,2,200,1.0,14.0,8.0,NaN,25,3,1.0,0.75,34.384843

`.read_csv()` has a ton of built in parameters to help you correctly format your data as you load it into pandas.  For example, you can:

- set how your data is separated with `sep` (e.g. ',' for commas or '\t' for tabs)
- only load a portion of your data with `nrows`
- convert numbers like 2,000 to integers with `thousands`

To see all available options for any object or function in Jupyter, use the question mark.

In [7]:
pd.read_csv?

The result of `.read_csv()` is a dataframe, the main data structure of pandas.  Dataframes are made up of columns and rows, each of which are pandas series.

In [8]:
type(df)

pandas.core.frame.DataFrame

In [9]:
type(df['calories'])   #calories column

pandas.core.series.Series

In [10]:
type(df.calories)      #also the calories column

pandas.core.series.Series

In [11]:
type(df.loc['100% Bran'])   #100% Bran row

pandas.core.series.Series

Note that the calories column can be referred to with either 
- square brackets  
- dot methodology

This is true only if the column name is a valid Python variable; column names with spaces or other special characters can only be refered to using square brackets.

Also note that we can access rows of dataframes with `.loc` and the row index.

In [12]:
df.loc['100% Bran']

mfr              N
type             C
calories        70
protein          4
fat              1
sodium         130
fiber           10
carbo            5
sugars           6
potass         280
vitamins        25
shelf            3
weight           1
cups          0.33
rating      68.403
Name: 100% Bran, dtype: object

## Exploring Data

After getting a quick look at your data with `.head()` and `.info()`, you will also want to explore individual columns.

In [13]:
df.calories.describe()

count     77.000000
mean     106.883117
std       19.484119
min       50.000000
25%      100.000000
50%      110.000000
75%      110.000000
max      160.000000
Name: calories, dtype: float64

In [14]:
df.sugars.mean()

7.026315789473684

In [15]:
df.mfr.value_counts()

K    23
G    22
P     9
R     8
Q     8
N     6
A     1
Name: mfr, dtype: int64

The result of `.value_counts()` is itself a series with the column's categorical values as its index!

In [16]:
vc = df.mfr.value_counts()

type(vc)

pandas.core.series.Series

In [17]:
vc.loc['K']

23

## Filtering Data

Often times you will want to explore select portions of your data.  You can create and apply masks to filter your data.

In [18]:
mask = (df.calories > 100)

The mask you just created is really just logical `True` and `False` values for each row, telling you if the condition holds for that observation.

In [19]:
mask

name
100% Bran                                 False
100% Natural Bran                          True
All-Bran                                  False
All-Bran with Extra Fiber                 False
Almond Delight                             True
Apple Cinnamon Cheerios                    True
Apple Jacks                                True
Basic 4                                    True
Bran Chex                                 False
Bran Flakes                               False
Cap'n'Crunch                               True
Cheerios                                   True
Cinnamon Toast Crunch                      True
Clusters                                   True
Cocoa Puffs                                True
Corn Chex                                  True
Corn Flakes                               False
Corn Pops                                  True
Count Chocula                              True
Cracklin' Oat Bran                         True
Cream of Wheat (Quick)                    False
Crispix                                    True
Crispy Wheat & Raisins                    False
Double Chex                               False
Froot Loops                                True
Frosted Flakes                             True
Frosted Mini-Wheats                       False
Fruit & Fibre Dates; Walnuts; and Oats     True
Fruitful Bran                              True
Fruity Pebbles                             True
                                          ...
Multi-Grain Cheerios                      False
Nut&Honey Crunch                           True
Nutri-Grain Almond-Raisin                  True
Nutri-grain Wheat                         False
Oatmeal Raisin Crisp                       True
Post Nat. Raisin Bran                      True
Product 19                                False
Puffed Rice                               False
Puffed Wheat                              False
Quaker Oat Squares                        False
Quaker Oatmeal                            False
Raisin Bran                                True
Raisin Nut Bran                           False
Raisin Squares                            False
Rice Chex                                  True
Rice Krispies                              True
Shredded Wheat                            False
Shredded Wheat 'n'Bran                    False
Shredded Wheat spoon size                 False
Smacks                                     True
Special K                                  True
Strawberry Fruit Wheats                   False
Total Corn Flakes                          True
Total Raisin Bran                          True
Total Whole Grain                         False
Triples                                    True
Trix                                       True
Wheat Chex                                False
Wheaties                                  False
Wheaties Honey Gold                        True
Name: calories, Length: 77, dtype: bool

When you apply the mask only rows with `True` values are kept.

In [20]:
df[mask].head(10)

,mfr,type,calories,protein,fat,sodium,fiber,carbo,sugars,potass,vitamins,shelf,weight,cups,rating
name,,,,,,,,,,,,,,,
100% Natural Bran,Q,C,120,3,5,15,2.0,8.0,8.0,135.0,0,3,1.00,1.00,33.983679
Almond Delight,R,C,110,2,2,200,1.0,14.0,8.0,NaN,25,3,1.00,0.75,34.384843
Apple Cinnamon Cheerios,G,C,110,2,2,180,1.5,10.5,10.0,70.0,25,1,1.00,0.75,29.509541
Apple Jacks,K,C,110,2,0,125,1.0,11.0,14.0,30.0,25,2,1.00,1.00,33.174094
Basic 4,G,C,130,3,2,210,2.0,18.0,8.0,100.0,25,3,1.33,0.75,37.038562
Cap'n'Crunch,Q,C,120,1,2,220,0.0,12.0,12.0,35.0,25,2,1.00,0.75,18.042851
Cheerios,G,C,110,6,2,290,2.0,17.0,1.0,105.0,25,1,1.00,1.25,50.764999
Cinnamon Toast Crunch,G,C,120,1,3,210,0.0,13.0,9.0,45.0,25,2,1.00,0.75,19.823573
Clusters,G,C,110,3,2,140,2.0,13.0,7.0,105.0,25,3,1.00,0.50,40.400208
Cocoa Puffs,G,C,110,1,1,180,0.0,12.0,13.0,55.0,25,2,1.00,1.00,22.736446

This more direct approach also works.

In [21]:
df[df.calories > 100].head(10)

,mfr,type,calories,protein,fat,sodium,fiber,carbo,sugars,potass,vitamins,shelf,weight,cups,rating
name,,,,,,,,,,,,,,,
100% Natural Bran,Q,C,120,3,5,15,2.0,8.0,8.0,135.0,0,3,1.00,1.00,33.983679
Almond Delight,R,C,110,2,2,200,1.0,14.0,8.0,NaN,25,3,1.00,0.75,34.384843
Apple Cinnamon Cheerios,G,C,110,2,2,180,1.5,10.5,10.0,70.0,25,1,1.00,0.75,29.509541
Apple Jacks,K,C,110,2,0,125,1.0,11.0,14.0,30.0,25,2,1.00,1.00,33.174094
Basic 4,G,C,130,3,2,210,2.0,18.0,8.0,100.0,25,3,1.33,0.75,37.038562
Cap'n'Crunch,Q,C,120,1,2,220,0.0,12.0,12.0,35.0,25,2,1.00,0.75,18.042851
Cheerios,G,C,110,6,2,290,2.0,17.0,1.0,105.0,25,1,1.00,1.25,50.764999
Cinnamon Toast Crunch,G,C,120,1,3,210,0.0,13.0,9.0,45.0,25,2,1.00,0.75,19.823573
Clusters,G,C,110,3,2,140,2.0,13.0,7.0,105.0,25,3,1.00,0.50,40.400208
Cocoa Puffs,G,C,110,1,1,180,0.0,12.0,13.0,55.0,25,2,1.00,1.00,22.736446

To filter on multiple columns or on multiple values, just continue chaining together logical statements with logical operators: and (`&`), or (`|`).

In [22]:
mask = (df.calories > 100) & (df.sugars < 8) & ((df.mfr == 'K') | (df.mfr == 'G'))

In [23]:
df[mask]

,mfr,type,calories,protein,fat,sodium,fiber,carbo,sugars,potass,vitamins,shelf,weight,cups,rating
name,,,,,,,,,,,,,,,
Cheerios,G,C,110,6,2,290,2.0,17.0,1.0,105.0,25,1,1.00,1.25,50.764999
Clusters,G,C,110,3,2,140,2.0,13.0,7.0,105.0,25,3,1.00,0.50,40.400208
Cracklin' Oat Bran,K,C,110,3,3,140,4.0,10.0,7.0,160.0,25,3,1.00,0.50,40.448772
Crispix,K,C,110,2,0,220,1.0,21.0,3.0,30.0,25,3,1.00,1.00,46.895644
Just Right Crunchy Nuggets,K,C,110,2,1,170,1.0,17.0,6.0,60.0,100,3,1.00,1.00,36.523683
Kix,G,C,110,2,1,260,0.0,21.0,3.0,40.0,25,2,1.00,1.50,39.241114
Nutri-Grain Almond-Raisin,K,C,140,3,2,220,3.0,21.0,7.0,130.0,25,3,1.33,0.67,40.692320
Rice Krispies,K,C,110,2,0,290,0.0,22.0,3.0,35.0,25,1,1.00,1.00,40.560159
Special K,K,C,110,6,0,230,1.0,16.0,3.0,55.0,25,1,1.00,1.00,53.131324
Total Corn Flakes,G,C,110,2,1,200,0.0,21.0,3.0,35.0,100,3,1.00,1.00,38.839746
Triples,G,C,110,2,1,250,0.0,21.0,3.0,60.0,25,3,1.00,0.75,39.106174

## Handling Missings

There are only four missing values in this whole dataset, but let's review how we could handle those.

In [24]:
df.isna().head()

,mfr,type,calories,protein,fat,sodium,fiber,carbo,sugars,potass,vitamins,shelf,weight,cups,rating
name,,,,,,,,,,,,,,,
100% Bran,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
100% Natural Bran,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
All-Bran,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
All-Bran with Extra Fiber,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
Almond Delight,False,False,False,False,False,False,False,False,False,True,False,False,False,False,False

In [25]:
df.isna().sum()  #or .sum(axis=1) to sum across rows

mfr         0
type        0
calories    0
protein     0
fat         0
sodium      0
fiber       0
carbo       1
sugars      1
potass      2
vitamins    0
shelf       0
weight      0
cups        0
rating      0
dtype: int64

For the purpose of practice two different techniques, let's:
- drop rows that have missing carbohydrate or sugar values
- fill in the missing potassium values with the median

In [26]:
df.shape

(77, 15)

In [27]:
df.dropna(subset=['carbo','sugars']).head()

,mfr,type,calories,protein,fat,sodium,fiber,carbo,sugars,potass,vitamins,shelf,weight,cups,rating
name,,,,,,,,,,,,,,,
100% Bran,N,C,70,4,1,130,10.0,5.0,6.0,280.0,25,3,1.0,0.33,68.402973
100% Natural Bran,Q,C,120,3,5,15,2.0,8.0,8.0,135.0,0,3,1.0,1.00,33.983679
All-Bran,K,C,70,4,1,260,9.0,7.0,5.0,320.0,25,3,1.0,0.33,59.425505
All-Bran with Extra Fiber,K,C,50,4,0,140,14.0,8.0,0.0,330.0,25,3,1.0,0.50,93.704912
Almond Delight,R,C,110,2,2,200,1.0,14.0,8.0,NaN,25,3,1.0,0.75,34.384843

In [28]:
df.dropna(subset=['carbo','sugars']).shape

(76, 15)

In [29]:
df.shape  #oops!

(77, 15)

Remember to add `inplace=True` if you want to change the underlying dataframe!

In [30]:
df.dropna(subset=['carbo', 'sugars'], inplace=True)

In [31]:
df.shape

(76, 15)

Now for filling in the potassium values.

In [32]:
potass_median = df.potass.median()

potass_median

90.0

In [33]:
df.potass.fillna(potass_median, inplace=True)

In [34]:
df.head()

,mfr,type,calories,protein,fat,sodium,fiber,carbo,sugars,potass,vitamins,shelf,weight,cups,rating
name,,,,,,,,,,,,,,,
100% Bran,N,C,70,4,1,130,10.0,5.0,6.0,280.0,25,3,1.0,0.33,68.402973
100% Natural Bran,Q,C,120,3,5,15,2.0,8.0,8.0,135.0,0,3,1.0,1.00,33.983679
All-Bran,K,C,70,4,1,260,9.0,7.0,5.0,320.0,25,3,1.0,0.33,59.425505
All-Bran with Extra Fiber,K,C,50,4,0,140,14.0,8.0,0.0,330.0,25,3,1.0,0.50,93.704912
Almond Delight,R,C,110,2,2,200,1.0,14.0,8.0,90.0,25,3,1.0,0.75,34.384843

## Applying Functions to Data

Our current data about each cereal's vitamin content only contains three distinct values.

In [35]:
df.vitamins.value_counts()

25     63
0       7
100     6
Name: vitamins, dtype: int64

Let's create a new column in the dataframe to tell us whether or not each cereal contains at least a vitamin level of at least 25.

In [36]:
df['vitamin_at_least_25'] = df.vitamins >= 25

In [37]:
df.head()

,mfr,type,calories,protein,fat,sodium,fiber,carbo,sugars,potass,vitamins,shelf,weight,cups,rating,vitamin_at_least_25
name,,,,,,,,,,,,,,,,
100% Bran,N,C,70,4,1,130,10.0,5.0,6.0,280.0,25,3,1.0,0.33,68.402973,True
100% Natural Bran,Q,C,120,3,5,15,2.0,8.0,8.0,135.0,0,3,1.0,1.00,33.983679,False
All-Bran,K,C,70,4,1,260,9.0,7.0,5.0,320.0,25,3,1.0,0.33,59.425505,True
All-Bran with Extra Fiber,K,C,50,4,0,140,14.0,8.0,0.0,330.0,25,3,1.0,0.50,93.704912,True
Almond Delight,R,C,110,2,2,200,1.0,14.0,8.0,90.0,25,3,1.0,0.75,34.384843,True

### .apply()

What if we want to classify each cereal as having a "low", "medium", or "high" level of vitamins?  Well, it would be pretty easy to create a function to do this if we just have one value.

In [38]:
def get_vitamin_level(vitamins):
    if vitamins > 99:
        return 'high'
    elif vitamins > 24:
        return 'medium'
    else:
        return 'low'

In [39]:
get_vitamin_level(100)

'high'

In [40]:
get_vitamin_level(25)

'medium'

Now we will use `.apply()` to apply this function to every value in the vitamin column.

In [41]:
df.vitamins.apply(get_vitamin_level)

name
100% Bran                                 medium
100% Natural Bran                            low
All-Bran                                  medium
All-Bran with Extra Fiber                 medium
Almond Delight                            medium
Apple Cinnamon Cheerios                   medium
Apple Jacks                               medium
Basic 4                                   medium
Bran Chex                                 medium
Bran Flakes                               medium
Cap'n'Crunch                              medium
Cheerios                                  medium
Cinnamon Toast Crunch                     medium
Clusters                                  medium
Cocoa Puffs                               medium
Corn Chex                                 medium
Corn Flakes                               medium
Corn Pops                                 medium
Count Chocula                             medium
Cracklin' Oat Bran                        medium
Cream of Wheat (Quick)                       low
Crispix                                   medium
Crispy Wheat & Raisins                    medium
Double Chex                               medium
Froot Loops                               medium
Frosted Flakes                            medium
Frosted Mini-Wheats                       medium
Fruit & Fibre Dates; Walnuts; and Oats    medium
Fruitful Bran                             medium
Fruity Pebbles                            medium
                                           ...
Mueslix Crispy Blend                      medium
Multi-Grain Cheerios                      medium
Nut&Honey Crunch                          medium
Nutri-Grain Almond-Raisin                 medium
Nutri-grain Wheat                         medium
Oatmeal Raisin Crisp                      medium
Post Nat. Raisin Bran                     medium
Product 19                                  high
Puffed Rice                                  low
Puffed Wheat                                 low
Quaker Oat Squares                        medium
Raisin Bran                               medium
Raisin Nut Bran                           medium
Raisin Squares                            medium
Rice Chex                                 medium
Rice Krispies                             medium
Shredded Wheat                               low
Shredded Wheat 'n'Bran                       low
Shredded Wheat spoon size                    low
Smacks                                    medium
Special K                                 medium
Strawberry Fruit Wheats                   medium
Total Corn Flakes                           high
Total Raisin Bran                           high
Total Whole Grain                           high
Triples                                   medium
Trix                                      medium
Wheat Chex                                medium
Wheaties                                  medium
Wheaties Honey Gold                       medium
Name: vitamins, Length: 76, dtype: object

In [42]:
df['vitamin_level'] = df.vitamins.apply(get_vitamin_level)

In [43]:
df.head()

,mfr,type,calories,protein,fat,sodium,fiber,carbo,sugars,potass,vitamins,shelf,weight,cups,rating,vitamin_at_least_25,vitamin_level
name,,,,,,,,,,,,,,,,,
100% Bran,N,C,70,4,1,130,10.0,5.0,6.0,280.0,25,3,1.0,0.33,68.402973,True,medium
100% Natural Bran,Q,C,120,3,5,15,2.0,8.0,8.0,135.0,0,3,1.0,1.00,33.983679,False,low
All-Bran,K,C,70,4,1,260,9.0,7.0,5.0,320.0,25,3,1.0,0.33,59.425505,True,medium
All-Bran with Extra Fiber,K,C,50,4,0,140,14.0,8.0,0.0,330.0,25,3,1.0,0.50,93.704912,True,medium
Almond Delight,R,C,110,2,2,200,1.0,14.0,8.0,90.0,25,3,1.0,0.75,34.384843,True,medium

You can also use lambda functions within the `.apply()`

In [44]:
df['vitamin_perc'] = df.vitamins.apply(lambda x: str(x)+'%')

In [45]:
df.head()

,mfr,type,calories,protein,fat,sodium,fiber,carbo,sugars,potass,vitamins,shelf,weight,cups,rating,vitamin_at_least_25,vitamin_level,vitamin_perc
name,,,,,,,,,,,,,,,,,,
100% Bran,N,C,70,4,1,130,10.0,5.0,6.0,280.0,25,3,1.0,0.33,68.402973,True,medium,25%
100% Natural Bran,Q,C,120,3,5,15,2.0,8.0,8.0,135.0,0,3,1.0,1.00,33.983679,False,low,0%
All-Bran,K,C,70,4,1,260,9.0,7.0,5.0,320.0,25,3,1.0,0.33,59.425505,True,medium,25%
All-Bran with Extra Fiber,K,C,50,4,0,140,14.0,8.0,0.0,330.0,25,3,1.0,0.50,93.704912,True,medium,25%
Almond Delight,R,C,110,2,2,200,1.0,14.0,8.0,90.0,25,3,1.0,0.75,34.384843,True,medium,25%

### .map()

`.apply()` is a very helpful function and so is `.map()`.  Let's say we want to convert the currently encoded manufacturer column into the actual names of the manufacturers and we have this dictionary to help us.

In [46]:
mfr_dict = {
    'A': 'Am Home Food Prods',
    'G': 'General Mills',
    'K': 'Kelloggs',
    'N': 'Nabisco',
    'P': 'Post',
    'Q': 'Quaker Oats',
    'R': 'Ralston Purina'
}

All we need to do is map this dictionary onto our current manufacturer column.

In [47]:
df.mfr.map(mfr_dict)

name
100% Bran                                        Nabisco
100% Natural Bran                            Quaker Oats
All-Bran                                        Kelloggs
All-Bran with Extra Fiber                       Kelloggs
Almond Delight                            Ralston Purina
Apple Cinnamon Cheerios                    General Mills
Apple Jacks                                     Kelloggs
Basic 4                                    General Mills
Bran Chex                                 Ralston Purina
Bran Flakes                                         Post
Cap'n'Crunch                                 Quaker Oats
Cheerios                                   General Mills
Cinnamon Toast Crunch                      General Mills
Clusters                                   General Mills
Cocoa Puffs                                General Mills
Corn Chex                                 Ralston Purina
Corn Flakes                                     Kelloggs
Corn Pops                                       Kelloggs
Count Chocula                              General Mills
Cracklin' Oat Bran                              Kelloggs
Cream of Wheat (Quick)                           Nabisco
Crispix                                         Kelloggs
Crispy Wheat & Raisins                     General Mills
Double Chex                               Ralston Purina
Froot Loops                                     Kelloggs
Frosted Flakes                                  Kelloggs
Frosted Mini-Wheats                             Kelloggs
Fruit & Fibre Dates; Walnuts; and Oats              Post
Fruitful Bran                                   Kelloggs
Fruity Pebbles                                      Post
                                               ...
Mueslix Crispy Blend                            Kelloggs
Multi-Grain Cheerios                       General Mills
Nut&Honey Crunch                                Kelloggs
Nutri-Grain Almond-Raisin                       Kelloggs
Nutri-grain Wheat                               Kelloggs
Oatmeal Raisin Crisp                       General Mills
Post Nat. Raisin Bran                               Post
Product 19                                      Kelloggs
Puffed Rice                                  Quaker Oats
Puffed Wheat                                 Quaker Oats
Quaker Oat Squares                           Quaker Oats
Raisin Bran                                     Kelloggs
Raisin Nut Bran                            General Mills
Raisin Squares                                  Kelloggs
Rice Chex                                 Ralston Purina
Rice Krispies                                   Kelloggs
Shredded Wheat                                   Nabisco
Shredded Wheat 'n'Bran                           Nabisco
Shredded Wheat spoon size                        Nabisco
Smacks                                          Kelloggs
Special K                                       Kelloggs
Strawberry Fruit Wheats                          Nabisco
Total Corn Flakes                          General Mills
Total Raisin Bran                          General Mills
Total Whole Grain                          General Mills
Triples                                    General Mills
Trix                                       General Mills
Wheat Chex                                Ralston Purina
Wheaties                                   General Mills
Wheaties Honey Gold                        General Mills
Name: mfr, Length: 76, dtype: object

In [48]:
df['manufacturer'] = df.mfr.map(mfr_dict)

In [49]:
df.head()

,mfr,type,calories,protein,fat,sodium,fiber,carbo,sugars,potass,vitamins,shelf,weight,cups,rating,vitamin_at_least_25,vitamin_level,vitamin_perc,manufacturer
name,,,,,,,,,,,,,,,,,,,
100% Bran,N,C,70,4,1,130,10.0,5.0,6.0,280.0,25,3,1.0,0.33,68.402973,True,medium,25%,Nabisco
100% Natural Bran,Q,C,120,3,5,15,2.0,8.0,8.0,135.0,0,3,1.0,1.00,33.983679,False,low,0%,Quaker Oats
All-Bran,K,C,70,4,1,260,9.0,7.0,5.0,320.0,25,3,1.0,0.33,59.425505,True,medium,25%,Kelloggs
All-Bran with Extra Fiber,K,C,50,4,0,140,14.0,8.0,0.0,330.0,25,3,1.0,0.50,93.704912,True,medium,25%,Kelloggs
Almond Delight,R,C,110,2,2,200,1.0,14.0,8.0,90.0,25,3,1.0,0.75,34.384843,True,medium,25%,Ralston Purina

Note that the information currently in your dataframe should be the keys for the mapping dictionary; the dictionary's values will be returned in the new column.

The differences between `.apply()`, `.map()`, and `.applymap()` can be subtle.  Check out [this reference](https://www.geeksforgeeks.org/difference-between-map-applymap-and-apply-methods-in-pandas/) for further reading.

## Grouping and Aggregating Data

Finally, let's refresh the concept of grouping data within pandas.

What is the median calories per serving of cereal for each manufacturer?

In [50]:
df.groupby('manufacturer').calories.median()

manufacturer
Am Home Food Prods    100
General Mills         110
Kelloggs              110
Nabisco                90
Post                  110
Quaker Oats           100
Ralston Purina        110
Name: calories, dtype: int64

In [51]:
df.groupby('manufacturer').calories.median().sort_values(ascending=False)

manufacturer
Ralston Purina        110
Post                  110
Kelloggs              110
General Mills         110
Quaker Oats           100
Am Home Food Prods    100
Nabisco                90
Name: calories, dtype: int64

We can group by multiple attributes by passing a list of columns to the `.groupby()`.

In [52]:
df.groupby(['manufacturer', 'type'])[['calories']].median()

                         calories
manufacturer       type
Am Home Food Prods H          100
General Mills      C          110
Kelloggs           C          110
Nabisco            C           90
                   H          100
Post               C          110
Quaker Oats        C          100
Ralston Purina     C          110

Grouping by multiple columns results in a multi-level index.  You can reset your index if you'd prefer these to be columns.

In [53]:
df.groupby(['manufacturer', 'type'])[['calories']].median().reset_index()

         manufacturer type  calories
0  Am Home Food Prods    H       100
1       General Mills    C       110
2            Kelloggs    C       110
3             Nabisco    C        90
4             Nabisco    H       100
5                Post    C       110
6         Quaker Oats    C       100
7      Ralston Purina    C       110

You can perform aggregations on multiple columns.

In [54]:
df.groupby('manufacturer')[['calories', 'sugars']].median()

                    calories  sugars
manufacturer
Am Home Food Prods       100     3.0
General Mills            110     8.5
Kelloggs                 110     7.0
Nabisco                   90     0.0
Post                     110    10.0
Quaker Oats              100     6.0
Ralston Purina           110     5.5

You can also do multiple aggregrations at once by using `.agg()` and passing a list of aggregations.

In [55]:
df.groupby('manufacturer').calories.agg(['mean', 'std', 'median', 'count'])

                          mean        std  median  count
manufacturer
Am Home Food Prods  100.000000        NaN     100      1
General Mills       111.363636  10.371873     110     22
Kelloggs            108.695652  22.218818     110     23
Nabisco              86.666667  10.327956      90      6
Post                108.888889  10.540926     110      9
Quaker Oats          94.285714  31.547394     100      7
Ralston Purina      115.000000  22.677868     110      8

Finally, to apply different aggregation functions to the columns, pass a dictionary to `.agg()`.

In [56]:
(df
 .groupby('manufacturer')[['mfr','calories', 'sugars', 'rating']]
 .agg({
     'mfr': 'count',
     'calories': 'median',
     'sugars': 'mean',
     'rating': 'mean'
 })
)

                    mfr  calories    sugars     rating
manufacturer
Am Home Food Prods    1       100  3.000000  54.850917
General Mills        22       110  7.954545  34.485852
Kelloggs             23       110  7.565217  44.038462
Nabisco               6        90  1.833333  67.968567
Post                  9       110  8.777778  41.705744
Quaker Oats           7       100  6.142857  41.785647
Ralston Purina        8       110  6.125000  41.542997